<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>My Recipe Book<br>
    <a href="/users"><input type="submit" value="Log out"></a> 
    </h1>
    <nav>
        <h2><a href="/recipes/new">Add a new RECIPE!</a></h2>
        
    </nav>
    <div class="container">
   

    <% for (let i = 0; i<recipes.length; i++) { %>
        <a href="/recipes/<%= recipes[i].id %>"><p><%= recipes[i].name%></p><img src=<%=recipes[i].img%> /></a>
        
     
  
        <a href="/recipes/<%= recipes[i].id %>/edit"> <input type="submit" value="Edit your RECIPE!" /></a><br><br>
        <form action="/recipes/<%= recipes[i].id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form> 
        
    <% } %>
    </div>
     
</body>
</html>